<h1>Job Matches</h1>

<table>
    <thead>
        <tr>
            <th>Job Title</th>
            <th>Company</th>
            <th>Location</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for match in matches %}
            <tr>
                <td>{{ match.jobAd.postTitle }}</td>
                <td>{{ match.jobAd.company.name }}</td>
                <td>{{ match.jobAd.location.name }}</td>
                <td>{{ match.score }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
